backend/node_modules/
backend/.env
frontend/my-app/node_modules/
frontend/my-app/dist/
frontend/my-app/.env
frontend/my-app/src/environments
frontend/my-app/functions


/.idea
/.vscode
/.history
.DS_Store
/*.log